.baseGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-auto-rows: 1fr;
}

.baseGridScroll {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-auto-rows: 22px; /* TODO: I'd like to express this as 1/16 of the container  height, but not sure how that works w overflow scroll*/
}

.rowLabel,
.gridTrack {
  border: 1px var(--orange) solid;
  overflow: hidden;
}

.gridTrack {
  display: grid;
  width: 100%;
  grid-auto-flow: column;
}

.step {
  border: 1px var(--orange) solid;
  border-top: 0;
  border-bottom: 0;
  height: 100%;
}

.filledStep {
  background-color: var(--orange);
}

.emptyStep {
  background-color: black;
}

.disabledStep {
  opacity: 0.3;
}
