:root {
  --orange: rgb(234, 207, 76);
}

.eliseUi {
  height: 690px;
  width: 1000px;
  color: var(--orange);
  background: black;
  font-family: consolas, monaco, monospace;
  display: flex;
  flex-flow: column;
}

.gridContainer {
  display: grid;

  /* "border" */
  background-color: black;
  grid-gap: 1px;
}

.listReset {
  list-style: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.display {
  flex: 0 1 100vh;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}

.topBar {
  flex: 0 0 auto;
}
.topButtons {
  flex: 0 0 auto;
}
.encoderBanks {
  flex: 1 0 auto;
}
.padButtons {
  flex: 0 0 auto;
}

.encoderBanks {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.encoderBank {
  display: flex;
  border-bottom: 1px var(--orange) solid;
}

.encoderBank:first-of-type {
  border-top: 1px var(--orange) solid;
}

.encoderBankHeaderContainer {
  flex: 0 0 auto;
  position: relative;
  width: 40px;
  text-align: center;
  color: var(--orange);
  border-right: 1px var(--orange) solid;
}

.encoderBankHeaderContainerActive {
  color: black;
  background: var(--orange);
}

.encoderBankHeader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.encoderBankContent {
  flex: 0 1 100%;
  padding-left: 10px;
}

.paramList {
  composes: gridContainer listReset;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pads {
  composes: gridContainer listReset;
  flex: 0 0 36%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--orange);
  grid-gap: 1px;
  border: 1px var(--orange) solid;
}

.pad {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
}

.padLabel {
  font-size: 24px;
}

.buttonRow {
  display: flex;
  height: 32px;
}

.buttonRow button {
  flex: 1 0 auto;
  border: 1px var(--orange) solid;
  background: black;
  color: var(--orange);
  font-family: inherit;
  font-size: inherit;
}

.buttonRow button:disabled {
  opacity: 0.5;
}

.buttonRow button.activeButton {
  background: var(--orange);
  color: black;
}
