:root {
  --orange: rgb(234, 207, 76);
}

.eliseUi {
  height: 690px;
  width: 1000px;
  color: var(--orange);
  background: black;
  font-family: consolas, monaco, monospace;
  display: flex;
  flex-flow: column;
}

.gridContainer {
  display: grid;

  /* "border" */
  background-color: black;
  grid-gap: 1px;
}

.listReset {
  list-style: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.display {
  flex: 0 1 100vh;
  overflow-y: auto;
}

.section {
  display: flex;
  min-height: 100px;
  border-bottom: 1px var(--orange) solid;
}

.section:first-of-type {
  border-top: 1px var(--orange) solid;
}

.sectionHeaderContainer {
  flex: 0 0 auto;
  position: relative;
  width: 60px;
  text-align: center;
  color: var(--orange);
  border-right: 1px var(--orange) solid;
}

.sectionHeaderContainerActive {
  color: black;
  background: var(--orange);
}

.sectionHeader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.sectionContent {
  flex: 0 1 100%;
  padding-left: 10px;
}

.paramList {
  composes: gridContainer listReset;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pads {
  composes: gridContainer listReset;
  flex: 0 0 36%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--orange);
  grid-gap: 1px;
  border: 1px var(--orange) solid;
}

.pad {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
}

.padLabel {
  font-size: 24px;
}
